<div class="container-fluid backColor">
    <div class="row title" >
        <div class="col-md-6">
            <span class="bold TextSize">Manage</span>
            <span class="TitleColor"> Company</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 message" >
            <span style="float: left;">Successfully</span>
            <span class="glyphicon glyphicon-remove" style="float: right;"></span>
        </div>
    </div>
    <div class="contentSection">
        <div class="row">
            <div class="col-md-4 sub-title">
                <span class="">Manage Company Information</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <span class="bold">Company Name</span>
                </div>
                <input type="text" class="input-txt" placeholder="Enter product name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <span class="bold">Charge Amount (%)</span>
                </div>
                <div>
                    <input type="text" class="input-txt" placeholder="Enter Charge Amount %"/>
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <span class="bold">Vat Charge</span>
                </div>
                <div>
                    <input type="text" class="input-txt" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <span class="bold">Address</span>
                </div>
                <div>
                    <input type="text" class="input-txt"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <span class="bold">Phone</span>
                </div>
                <div>
                    <input type="text" class="input-txt"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="bold">Country</span>
                <div>
                    <select class="input-txt">
                        <option></option>
                    </select> 
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <span class="bold">Message</span>
                </div>
                <div class="glyphicon glyphicon-font action-btn" style="margin-right: 4px;">
                    <label for="fonttxt"> Normal text</label>
                    <select id="fonttxt" class="action-btn">
                        <option></option>
                    </select>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn action-btn" style="font-weight: bold;">
                        Bold
                    </button>
                    <button type="button" class="btn action-btn" style="font-style: italic;">
                        Italic
                    </button>
                    <button type="button" class="btn action-btn" style="text-decoration: underline;">
                        Underline
                    </button>
                    <button type="button" class="btn action-btn">
                        Small
                    </button>
                    <button type="button" class="btn action-btn" style="margin-left: 4px; margin-right: 4px;">,,</button>
                    <button type="button" class="btn action-btn glyphicon glyphicon-list"></button>
                    <button type="button" class="btn action-btn glyphicon glyphicon-th-list"></button>
                    <button type="button" class="btn action-btn glyphicon glyphicon-indent-right"></button>
                    <button type="button" class="btn action-btn glyphicon glyphicon-indent-left"></button>
                    <button type="button" class="btn action-btn glyphicon glyphicon-share"  style="margin-left: 4px; margin-right: 4px;"></button>  
                </div>
                <div>
                    <textarea class="input-txt" rows="3" style="height:150px" placeholder="Enter description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="bold">Currency</span>
                <div>
                    <select class="input-txt">
                        <option></option>
                    </select>                  
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="button" class="btn btn-primary btn-sm" value="Save changes" style="margin-right:4px;"/>
            </div>
        </div>
    </div>
</div>