<div class="container-fluid backColor">
    <div class="row">
        <div class="modal modalBackground" id="AttributeValue" [ngClass]="{'show':popAdd==true}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" (click)="popAdd=false">&times;</button>
                        <h4 class="modal-title">Add Attribute Value</h4>
                    </div>
                    <div class="modal-body">
                        <form #F=ngForm>
                        <div style="margin-bottom:13px;">
                            <input type="hidden" name="txtId" ngModel />
                            <span>Attribute Value </span>
                            <input type="text" class="form-control" name="txtName" ngModel style="margin-top:5px;" placeholder="Enter Attribut Value"/>
                        </div>
                      <input type="hidden" name="attribute_Id" ngModel/>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <input *ngIf="savePopup =='insert' " type="button" value="Save" class="btn btn-primary" data-dismiss="modal" (click)="OnSave()"  >
                        <input *ngIf="savePopup =='update' " type="button" value="Update" class="btn btn-primary" data-dismiss="modal"  (click)="OnUpdate()"   >
                        <input type="button" value="Close" class="btn btn-primary" data-dismiss="modal" (click)="popAdd=false"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row title" >
        <div class="col-md-6">
            <span class="bold TextSize">Manage Attributes</span><span class="TitleColor">Value </span>
        </div>
    </div>
    <div class="contentSection">
        <div class="row">
        <div class="col-md-4">
            <span class="bold">Attribute Name : {{attributeValueName|titlecase}}</span>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 message" *ngIf="showMsg" >
            <span style="float: left;">Successfully {{msg}}</span>
            <button class="glyphicon glyphicon-remove" style="float: right;" *ngIf="showMsg" (click) = "showMsg = false"></button>
        </div>
        </div>
        <div class="row " style="padding-bottom: 20px; padding-left: 15px;">  
            <div class="col-md-4">
                <input type="button" value="Add Value" class="btn btn-primary" (click)="popAdd=true ;savePopup='insert'" data-target="#AttributeValue" data-toggle="modal"/>
            </div>
        </div>
    <div class="contentSection">
        <div class="row">
        <div class="col-md-4">
            <span class="bold">Manage Attributes Value</span>
        </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span>Show</span>
                <input type="number" value="0" min=0 max=10> entries
            </div>
            <div class="col-md-offset-6 col-md-4">
               <span >Search:</span>
               <input type="text" (keyup)="getByName($event)" >
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th > 
                                <span style="float: left;">Attribute Value</span>
                                <span class="glyphicon glyphicon-sort arrow-btn"></span>
                            </th>
                            <th>
                                <span style="float: left;">Action</span>
                                <span class="glyphicon glyphicon-sort arrow-btn"></span>
                            </th>        
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let value of attributesValue">
                        <td>{{value.name}}</td>
                        <td>
                            <button class="glyphicon glyphicon-pencil action-btn"(click) ="GetById(value.id)"></button>
                            <button class="glyphicon glyphicon-trash action-btn" style="margin-left: 5px;"(click) ="OnDelete(value.id)"></button>
                        </td>
                    </tr>
                    <tr *ngIf ="attributesValue.length == 0">
                    <td colspan="3"> <p style="text-align: center; margin-left: 10px;"> NO data available in table</p>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><span  >showing 0 of 0 entries</span>
                <input class="btn tableButton"   type="button" value="Previes" style="margin-left: 800px;" >
                <span class="page"></span>
                <input class="btn tableButton" type="button" value="Next">
        </div>
        </div>
        </div>
</div>