<div class="container-fluid backColor">
    <div class="row title" >
        <div class="col-md-6">
            <span class="bold TextSize">Manage </span>
            <span class="TitleColor">Orders </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 message" >
            <span style="float: left;">Successfully</span>
            <span class="glyphicon glyphicon-remove" style="float: right;"></span>
        </div>
    </div>
    <div class="row " style="padding-bottom: 20px; padding-left: 15px;">  
        <div class="col-md-4">
            <input type="button" value="Add Order" class="btn btn-primary"/>
        </div>
    </div>
<!-- </div> -->
<!-- border-bottom-style: outset; -->
<div class="contentSection">
<div class="row">
<div class="col-md-4">
    <span class="bold">Manage Products</span>
</div>
</div>
<div class="row">
    <div class="col-md-2">
        <span>Show</span>
        <input type="number" value="0" min=0 max=10> entries
    </div>
    <div class="col-md-offset-7 col-md-3 search-position">
       <span >Search:</span>
       <input type="text" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <span style="float: left;">Bill no</span>
                        <span class="glyphicon glyphicon-sort arrow-btn"></span>
                    </th>
                    <th>
                        <span style="float: left;">Customer Name</span>
                        <span class="glyphicon glyphicon-sort arrow-btn"></span>
                    </th>
                    <th > 
                        <span style="float: left;">Customer Phone</span>
                        <span class="glyphicon glyphicon-sort arrow-btn"></span>
                    </th>
                    <th>
                        <span style="float: left;">DateTime</span>
                        <span class="glyphicon glyphicon-sort arrow-btn"></span>
                    </th>
                    <th>
                        <span style="float: left;">Total Products</span>
                        <span class="glyphicon glyphicon-sort arrow-btn"></span>
                    </th>
                    <th>
                        <span style="float: left;">Total Amount</span>
                        <span class="glyphicon glyphicon-sort arrow-btn"></span>
                    </th>
                    <th>
                        <span style="float: left;">Paid Status</span>
                        <span class="glyphicon glyphicon-sort arrow-btn"></span>
                    </th>
                    <th>
                        <span style="float: left;">Action</span>
                        <span class="glyphicon glyphicon-sort arrow-btn"></span>
                    </th>        
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>sss</td>
                <td>sss</td>
                <td>sss</td>
                <td>sss</td>
                <td>sss</td>
                <td>sss</td>
                <td><span class="status"> Paid</span></td>
                <td>
                    <div class="glyphicon glyphicon-print action-btn" style="margin-right: 5px;"></div>
                    <div class="glyphicon glyphicon-pencil action-btn"></div>
                    <div class="glyphicon glyphicon-trash action-btn" style="margin-left: 5px;"></div>
                </td>
            </tr>
            <tr>
            <td colspan="8"> <p style="text-align: center; margin-left: 10px;"> NO data available in table</p>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12"><span  >showing 0 of 0 entries</span>
        <input class="btn tableButton"   type="button" value="Previes" style="margin-left: 800px;" >
        <!-- <span class="page"></span> -->
        <input class="btn tableButton" type="button" value="Next">
    </div>
</div>
</div>
</div>